

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1480978733/weather/ayzvdai5upk-adrian_sqo24i.jpg) no-repeat center fixed;
}

body {
	background: transparent;
	color: #fff;
}

#weather-data{
	display: none;
}

#aww-snap{
	display: none;
}

.fa-frown-o {
	font-size: 7em;
}

.widgets {
	color: #fff;
	background: rgba(255, 255, 255, 0.80);
	border-radius: 15px;
	min-height: 100px;
	margin: 15px;
	margin-left: 40px;
	margin-right: 40px;
	box-shadow: 4px 2px 7px black;
	width: 80%;
}

.widgets p {
	color: #343f61;
    line-height: 90px;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

#weather-sign {
	margin-bottom: 10px;
}

#weather-sym i {
	font-size: 5em;
}







