

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1480978733/weather/ayzvdai5upk-adrian_sqo24i.jpg) no-repeat center fixed;
}

body {
	background: transparent;
	color: #fff;
}










