

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324495/weather/not-available.jpg) no-repeat center fixed;
	background-size: cover;
}

.cold {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1480978733/weather/cold.jpg) no-repeat center fixed;
	background-size: cover;
}

.sleet {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481325624/weather/sleet.jpg) no-repeat center fixed;
	background-size: cover;
}

.clear-day {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481325369/weather/clear-day.jpg) no-repeat center fixed;
	background-size: cover;
}

.hot {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481325117/weather/hot.jpg) no-repeat center fixed;
	background-size: cover;
}

.foggy {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324823/weather/foggy.jpg) no-repeat center fixed;
	background-size: cover;
}

.fair-night {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324743/weather/fair-night.jpg) no-repeat center fixed;
	background-size: cover;
}

.thunderstroms {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324604/weather/thunderstroms.jpg) no-repeat center fixed;
	background-size: cover;
}

.hail {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324256/weather/hail.jpg) no-repeat center fixed;
	background-size: cover;
}

.smokey{
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324950/weather/smokey.jpg) no-repeat center fixed;
	background-size: cover;
}

.drizzle {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324151/weather/drizzle.jpg) no-repeat center fixed;
	background-size: cover;
}

.rain {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481324062/weather/rain.jpg) no-repeat center fixed;
	background-size: cover;
}

.windy {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323961/weather/windy.jpg) no-repeat center fixed;
	background-size: cover;
}

.dust {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323740/weather/dust.jpg) no-repeat center fixed;
	background-size: cover;
}

.thundershowers {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323611/weather/thundershowers.jpg) no-repeat center fixed;
	background-size: cover;
}

.snow {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323522/weather/snow.png) no-repeat center fixed;
	background-size: cover;
}

.clear-night {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323388/weather/clear-night.jpg) no-repeat center fixed;
	background-size: cover;
}

.cloudy-night {
	background: url(http://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481330858/weather/cloudy-night.jpg) no-repeat center fixed;
	background-size: cover;
}

.sunny {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323240/weather/sunny.jpg) no-repeat center fixed;
	background-size: cover;
}

.cloudy-day {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323147/weather/cloudy-day.jpg) no-repeat center fixed;
	background-size: cover;
}

.fair-day {
	background: url(https://res.cloudinary.com/mr-kumar-abhishek/image/upload/v1481323057/weather/fair-day.jpg) no-repeat center fixed;
	background-size: cover;
}

body {
	background: transparent;
	color: #fff;
}

#weather-data{
	display: none;
}

#aww-snap{
	display: none;
}

.fa-frown-o {
	font-size: 7em;
}

.widgets {
	color: #fff;
	background: rgba(255, 255, 255, 0.80);
	border-radius: 15px;
	min-height: 100px;
	margin: 15px;
	margin-left: 40px;
	margin-right: 40px;
	box-shadow: 4px 2px 7px black;
	width: 80%;
}

.widgets p {
	color: #343f61;
    line-height: 90px;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

#weather-sign {
	margin-bottom: 10px;
}

#weather-sym i {
	font-size: 5em;
}







