[submodule "weather-icons"] 
  path =  weather-icons
  url = https://github.com/erikflowers/weather-icons.git
[submodule "js/vendor/jquery-textfill"]
	path = js/vendor/jquery-textfill
	url = https://github.com/jquery-textfill/jquery-textfill.git
